*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #EDEDED;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}


body{
    background-color: #202023;
    position: relative;
    z-index: 999;
}

.wrapper{
    max-width: 900px;
    margin: 0px auto;
}

hr{
    position: fixed;
    top: 0;
    height: 10px;
    width: 100%;
    border: #7843e9;
    background-color: #7843e9;
    z-index: 99;
}

nav{
    display: flex;
    justify-content: right;
    padding: 15px 0 15px 0;
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur(20px);
    z-index: 100;
    text-transform: uppercase;
}

nav ul{
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-right: 20%;
    font-weight: 500;
}

nav ul li{
    list-style-type: none;
    cursor: pointer;
    color: #EDEDED;
    transition: 0.3s;
}

nav ul li:hover{
    color: #7843e9;
}

h1{
    text-transform: uppercase;
}

.description-title{
    font-size: 3rem;
    letter-spacing: 0.2rem;
    animation: hi 1.5s ease-in-out;
}

#nader{
}

@keyframes hi {

    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#hi{
    /* animation: hi 1s ease-in-out; */
    /* animation-delay: 1s; */
}



.block-presentation{
    background: url("images/img-cosmos.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    margin-bottom: 10vh;
    position: relative;
    height: 100vh;
}

.mouse{
    position: relative;
    width: 25px;
    height: 40px;
    border: 2px solid #EDEDED;
    border-radius: 60px;
    position: relative;
    overflow: hidden;
}

.mouse::before{
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #EDEDED;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 1.3s infinite;
    -webkit-animation: wheel 1.3s infinite;
}

@keyframes wheel {
    to {
        opacity: 0;
        top: 27px
    }
}

@-webkit-keyframes wheel {
    to {
        opacity: 0;
        top: 27px
    }
}


.overlay{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    position: absolute;
}

.block-presentation_description{
    width: 100%;
    color: #EDEDED;
    padding: 20px;
    z-index: 2;
    position: relative;
    top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.block-presentation_description_h2{
    font-size: 18px;
    font-weight: 300;
}

.description-presentation{
    margin: 30px 0 80px;
    text-align: center;
    font-size: 22px;
    line-height: 1.5;
    max-width: 70%;
    animation: hi 1.5s ease-in-out  ;
}

@keyframes script {

    from{
        color: #7843e9;
        opacity: 0;
        margin-bottom: -200px;
    }
    10%{
        color: #EDEDED;
    }
    25%{
        color: #7843e9;
    }
    50%{
        opacity: 0.5;
        /* margin-bottom: -100px; */
        color: #EDEDED;
    }
    55%{
        color:#7843e9;
    }
    to {
        opacity: 1;
        /* margin-bottom: 0; */
    }
}

#about-section{
    padding: 45px 0;
    border-bottom: 2px solid #7843e9;
}

.block-about{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding-inline-start: 20px;
    margin-bottom: 10vh;
}

.block-about_dates{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.block-about_description{
    display: flex;
    gap: 2rem;
}

.years{
    font-weight: 600;
}

#skills-title{
    margin: 50px 0;
}

.block-skills_skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.block-skills_skill-name{
    font-size: 15px;
    font-weight: 400;
}

.block-skills{
    font-size: 40px;
   display: flex;
   justify-content: space-around;
}

#heart{
    margin-left: 5px;
}

#like{
    margin: 50px 0;
}

.block-like{
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.block-like_info{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

#block-like_info_text{
    padding-inline-start: 10px;
}

#projects-section{
    padding: 45px 0;
    border-bottom: 2px solid #7843e9;
}

.block-projects{
    display: flex;
    flex-direction: column;
    margin-bottom: 10vh;
    position: relative;
    gap: 100px;
    margin-top: 50px;
}

.block-projects_img{
    overflow: hidden;
    border-radius: 10px;
    height: 100%;
    max-width: 700px;
}

.project-study{
    margin: 0 auto;
    max-width: 900px;
}

.img-project{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    height: 100%;
}

.block-projects_title_para{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 70%;
}

.block-projects_para{
    margin: 20px 0 40px;
    text-align: center;
    line-height: 1.5;
}

.block-projects_title{
    font-size: 60px;
    margin-bottom: 30px;
}

main{
    margin: 0 auto 10vh auto;
    padding-inline: 20px;
    max-width: 900px;  
}

.block-projects_para-project{
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
}

.block-overview{
    margin: 0 0 30px 0;
}

.block-overview_title{
    margin-bottom: 2rem;
}

.block-tools{
    text-align: center;
    margin-top: 30px;
}

.tools{
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.tool{
    padding: 5px;
    background-color: #666;
    border-radius: 5px;
}

.fa-right-to-bracket{
    font-size: 20px;
    cursor: pointer;
}

.see-project{
    background-color: #7843e9;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #7843e9;
    border-radius: 5px;
    display: block;
    width: 50%;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    display: inline;
    width: 20rem;
    transition: 0.3s;

}

.see-project:hover{
    border: 1px solid #7843e9;
    background-color: transparent;
    color: #7843e9;
}

.block-project-link_exit{
    position: relative;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fa-right-from-bracket{
    position: absolute;
    bottom: -100%;
    left: 50%;
    cursor: pointer;
}

.block-overview_para{
    line-height: 1.5;
    letter-spacing: 1px;
}

.title-project{
    font-size: 42px;
    margin-bottom: 30px;
}

.block-projects_description{
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.case-study{
    background-color: #7843e9;
    border: 1px solid #7843e9;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

.case-study:hover{
    background-color: transparent;
    color: #7843e9;
    border: 1px solid #7843e9;
}

#pokedex-project, #kanap-project, #kasa-project, #booki-project{
    opacity: 0;
    transition: 0.5s;
}

#pokedex-project.show, #kanap-project.show, #kasa-project.show, #booki-project.show{
    opacity: 1;
    /* transform: scale(1.1) */
}

.description-project{
    padding-inline: 5px;
}

.project-wrapper{
    width: 100%;
    height: 100%;
    background-color: #202023;
    position: fixed;
    z-index: 200;
    display: none;
    overflow:auto;
    /* backdrop-filter: blur(10px); */
    /* opacity: 0; */
    transition: 0.5s;
}

.block-selected-project{
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    position: relative;
    cursor: auto;
    flex-direction: column;
}

.fa-circle-xmark{
    /* position: absolute; */
    font-size: 30px;
    cursor: pointer;
    color: #666;
    transition: 0.3s;
}

.fa-circle-xmark:hover{
    color: #EDEDED;
}

.contact-title{
    margin-bottom: 50px;
    padding: 45px 0;
    border-bottom: 2px solid #7843e9;
}

.block-contact{
    color: #EDEDED;
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 10vh;
    gap: 5rem;
}


#copyright{
    width: fit-content;
    margin: 30px auto;
    display: block;
    color: #EDEDED;
    font-size: 14px;
}


/********************************* MEDIA QUERIES *********************************/

@media screen and (max-width: 840px) {

    .wrapper{
        padding-inline: 10px;
    }

    #burger{
    font-weight: 900;
    position: absolute;
    z-index: 200;
    right: 1rem;
    top: 1rem;
    font-size: 30px;
    }

    .block-selected-project{
        height: 50vh;
    }

    .mouse{
        display: none;
    }

    main{
        padding-inline: 10px;
    }

    .block-overview_para{
        padding-inline: 20px;
    }

    .tools{
        padding-inline: 20px;
    }
    
    /* hr{
        display: none;
    } */

    .handle-nav {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.5s, visibility 0.5s;
      }
      
    nav {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
    position: absolute;
    }

    .hamburger{
    display: inline-block !important
    }

    nav ul{
        margin: 0;
        padding-inline: 5px;
        flex-direction: column;
        gap: 4rem;
        align-items: center;
        width: inherit; 
    }

    .block-projects_title{
        font-size: 30px;
    }

    .block-projects_title_para{
        max-width: 100%;
        padding-inline: 5px;
    }

    .description-title{
        font-size: 2rem;;
    }

    .description-presentation{
        font-size: 18px;
        max-width: inherit;
    }

    .block-about_description_para .years{
        line-height: 1.5;
    }

    .block-about_description{
        gap: 1rem;
        line-height: 1.5;
    }

    .block-skills {
        gap: 2rem;
        flex-wrap: wrap;
        justify-content: inherit;  
        padding-inline: 20px; 
        font-size: 30px;
    }

    .block-like_elements{
        line-height: 1.5;
    }

    .block-projects_description{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}